@model IEnumerable<Task5.Models.Product>



<div class="Main-div">

	@foreach (var item in Model)
	{
		<div class="card" style="width: 18rem;">
			<img src="@item.Image" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">@item.Name</h5>
				<h6>$@item.Price</h6>
			</div>
		</div>
	}



</div>
