@section Style {

    <link rel="stylesheet" href="~/css/StyleLogin.css?v=@DateTime.Now.Ticks" />
}


<div class="wrapper">
    <form class="form-signin" method="post" action="/User/HandelLogin">
        <h2 class="form-signin-heading">Login</h2>
        <input type="email" class="form-control" name="Email" placeholder="Email Address" required="" autofocus="" />
        <input type="password" class="form-control" name="Password" placeholder="Password" required="" />
        <label class="checkbox">
            <input type="checkbox" value="Yes" id="rememberMe" name="rememberMe"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>



