@model Task4.Models.Product;

<h1 style="color:brown ; border-bottom:1px solid black">Details</h1>


<h4>Name: <span>@Model.Name</span></h4>
<h4>Price: <span>@Model.Price</span></h4>
<h4>Description: <span>@Model.Description</span></h4>


<a asp-action="Index">Back to list</a>

